.mvperson {
    height: 414px;
}

.mvperson-top {
    height: 350px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.actor-name {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.actor-name-main {
    font-size: 20px;
    color: #efefef;
}

.actor-name-sub {
    font-size: 12px;
    color: #98a4b7;
}

.button-likes {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.button-likes > button {
    height: 40px;
    width: 100px;
    border-radius: 30px;
    background-color: #25304a;
    color: #586a85;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-likes > button:hover {
    cursor: pointer;
}

.button-likes > button.filled {
    color: #efefef;
    font-weight: bolder;
    border: 1px solid #4263eb;
}

.heart.filled .heart-path {
    fill: #4263eb;
    stroke: #4263eb;
}

.mvperson-bottom {
    height: 64px;
    padding: 16px 16px 0px 16px;
    border-bottom: 1px solid #586a85;
}

.bottom-category {
    display: flex;
    text-align: center;
    line-height: 48px;
}

.category-tab {
    height: 48px;
    width: 330px;
    color: #586a85;
}

.category-tab.active {
    color: #efefef;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
}

.filmography {
    padding: 0 16px;
    margin-top: 20px;
    position: relative;
}

.filmography-list {
    color: #efefef;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-gap: 16px;
    grid-row-gap: 16px;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    list-style: none;
}

.movie-item {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #172036;
    position: relative;
    display: inline-block;
    font-size: 0;
}

.poster-container {
    width: 100%;
    min-height: 222px;
    height: 222px;
    object-fit: cover;
    border: 1px solid #101322;
    border-radius: 6px;
    overflow: hidden;
}

.movie-item .info {
    width: 100%;
}

.movie-item .info .title {
    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
    letter-spacing: -.1px;
    color: #efefef;
    text-align: center;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 8px;
}

.movie-item .info .rating {
    margin: 6px 0 8px;
    height: 23px;
    padding-left: 8px;
    position: relative;
}

.rating .rating-wrap {
    display: flex;
    align-items: flex-end;
}

.movie-item .info .rating .rating-wrap .rate {
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    margin-left: 2px;
}

.movie-item .info .rating .like-button {
    position: absolute;
    bottom: -1px;
    right: 6px;
    background-color: #25304a;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.movie-item .info .rating .like-button img {
    width: 14px;
    height: 14px;
    z-index: 1;
}

.high-score {
    color: #0ca678;
}

.low-score {
    color: #f03e3e;
}

button {
    border: 0;
    background-color: transparent;
}

.popular-title {
    font-size: 18px;
    color: #efefef;
}

.post-thumbnail {
    position: absolute;
    bottom: 20px;
    right: 16px;
    width: 150px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #3b4869;
    z-index: 999;
}

.post-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.bottom-users .list-profile span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #3b4869;
    display: inline-block;
    background-color: #25304a;
}

.community-button p {
    font-size: 16px;
    color: #efefef;
    margin-right: 8px;
}

.community-button img {
    width: 20px;
    height: 20px;
}

.write {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .4);
    background: #4263eb;
    color: #efefef;
    position: absolute;
    top: 300px;
    right: 0px;
    z-index: 999;
}

.write img {
    width: 28px;
    height: 28px;
}

.title-wrap {
    height: 44px;
    margin: 8px 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #efefef;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.2px;
    padding: 11px 0 10px;
}

.popular-post-container {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 0 32px;
    background: #172036;
    border-radius: 12px;
}

.post-list {
    border-bottom: 1px solid #25304a;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-left: 16px;
    margin-right: 16px;
}

.post-list .post-content {
    font-size: 16px !important;
    line-height: 24px;
    font-weight: 500;
    color: #d4d9e1;
}

.totalPost-count {
    color: #98a4b7;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -.2px;
}

.list-gap {
    margin-bottom: 20px;
}

.post-container {
    background: #101322;
    padding: 0 0 20px;
    border-radius: 0;
    border-bottom: 1px solid #25304a;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header"
        "content"
        "interact"
        "tag";
    position: relative;
}

.post-info-header {
    grid-area: header;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
}

.post-info-content {
    grid-area: content;
}

.post-interact {
    grid-area: interact;
    display: flex;
}

.post-interact li span {
    display: flex;
}

.post-tag {
    grid-area: tag;
}

.writer-nickname {
    max-width: 100%;
    min-width: 0;
    display: flex;
    align-items: center;
    color: #bdc6d5;
}

.post-info-header .time {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #586a85;
}

.post-info-content {
    position: relative;
    padding: 8px 16px 6px;
    font-size: 16px;
    line-height: 23px;
    color: #d4d9e1;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: 400;
    height: 100%;
}

.post-interact {
    padding-bottom: 12px;
    padding: 0 16px;
    justify-content: flex-start;
    position: relative;
}

.post-tag {
    margin: 12px 16px 0 16px;
}

.post-tag li {
    margin-right: 6px;
    border: 1px solid #25304a;
    border-radius: 20px;
    width: max-content;
}

.post-tag li a {
    display: flex;
    align-items: center;
    padding: 6px 12px 6px 8px;
}

.post-tag li a span {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #d4d9e1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    white-space: nowrap;
}
.button-likes .filled .heart-path {
    fill: #e0245e; /* 예시 색상 */
    stroke: #e0245e;
}



.mvperson-top {
  height: 350px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actor-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #25304a;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 */
    background-color: #000; /* 이미지가 로드되지 않았을 때 배경색 */
}

.actor-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 비율을 유지하면서 컨테이너에 맞게 크기 조절 */
    border-radius: 50%; /* 이미지도 원형으로 표시 */
}


.actor-name {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.actor-name-main {
  font-size: 20px;
  color: #efefef;
}

.actor-name-sub {
  font-size: 12px;
  color: #98a4b7;
}

.button-likes {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.button-likes > button {
  height: 40px;
  width: 100px;
  border-radius: 30px;
  background-color: #25304a;
  color: #586a85;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-likes > button:hover {
  cursor: pointer;
}

.button-likes > button.filled {
  color: #efefef;
  font-weight: bolder;
  border: 1px solid #4263eb;
}

.heart.filled .heart-path {
  fill: #4263eb;
  stroke: #4263eb;
}

.mvperson-bottom {
  height: 64px;
  padding: 16px 16px 0px 16px;
  border-bottom: 1px solid #586a85;
}

.bottom-category {
  display: flex;
  text-align: center;
  line-height: 48px;
}

.category-tab {
  height: 48px;
  width: 330px;
  color: #586a85;
}

.category-tab.active {
  color: #efefef;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
}

.filmography {
  padding: 0 16px;
  margin-top: 20px;
  position: relative;
}

.filmography-list {
  color: #efefef;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-gap: 16px;
  grid-row-gap: 16px;
  justify-items: center;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  list-style: none;
}

.movie-item {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: #172036;
  position: relative;
  display: inline-block;
  font-size: 0;
}

.poster-container {
  width: 100%;
  min-height: 222px;
  height: 222px;
  object-fit: cover;
  border: 1px solid #101322;
  border-radius: 6px;
  overflow: hidden;
  /* css 추가 */
  align-items: center;
  background-color: #000;
}

/* 포스터 컨테이너 이미지 */
.poster-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.movie-item .info {
  width: 100%;
}

.movie-item .info .title {
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  letter-spacing: -0.1px;
  color: #efefef;
  text-align: center;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 8px;
}

.movie-item .info .rating {
  margin: 6px 0 8px;
  height: 23px;
  padding-left: 8px;
  position: relative;
}

.rating .rating-wrap {
  display: flex;
  align-items: flex-end;
}

.movie-item .info .rating .rating-wrap .rate {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  margin-left: 2px;
}

.movie-item .info .rating .like-button {
  position: absolute;
  bottom: -1px;
  right: 6px;
  background-color: #25304a;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.movie-item .info .rating .like-button img {
  width: 14px;
  height: 14px;
  z-index: 1;
}

.high-score {
  color: #0ca678;
}

.low-score {
  color: #f03e3e;
}

button {
  border: 0;
  background-color: transparent;
}

.popular-title {
  font-size: 18px;
  color: #efefef;
}

.post-thumbnail {
  position: absolute;
  bottom: 20px;
  right: 16px;
  width: 150px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #3b4869;
  z-index: 999;
}

.post-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.bottom-users .list-profile span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #3b4869;
  display: inline-block;
  background-color: #25304a;
}

.community-button p {
  font-size: 16px;
  color: #efefef;
  margin-right: 8px;
}

.community-button img {
  width: 20px;
  height: 20px;
}

.write {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  background: #4263eb;
  color: #efefef;
  position: absolute;
  top: 300px;
  right: 0px;
  z-index: 999;
}

.write img {
  width: 28px;
  height: 28px;
}

.title-wrap {
  height: 44px;
  margin: 8px 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #efefef;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.2px;
  padding: 11px 0 10px;
}

.popular-post-container {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 0 32px;
  background: #172036;
  border-radius: 12px;
}

.post-list {
  border-bottom: 1px solid #25304a;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-left: 16px;
  margin-right: 16px;
}

.post-list .post-content {
  font-size: 16px !important;
  line-height: 24px;
  font-weight: 500;
  color: #d4d9e1;
}

.totalPost-count {
  color: #98a4b7;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.list-gap {
  margin-bottom: 20px;
}

.post-container {
  background: #101322;
  padding: 0 0 20px;
  border-radius: 0;
  border-bottom: 1px solid #25304a;
  margin-left: 16px;
  margin-right: 16px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'header'
    'content'
    'interact'
    'tag';
  position: relative;
}

.post-info-header {
  grid-area: header;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}

.post-info-content {
  grid-area: content;
}

.post-interact {
  grid-area: interact;
  display: flex;
}

.post-interact li span {
  display: flex;
}

.post-tag {
  grid-area: tag;
}

.writer-nickname {
  max-width: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  color: #bdc6d5;
}

.post-info-header .time {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #586a85;
}

.post-info-content {
  position: relative;
  padding: 8px 16px 6px;
  font-size: 16px;
  line-height: 23px;
  color: #d4d9e1;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 400;
  height: 100%;
}

.post-interact {
  padding-bottom: 12px;
  padding: 0 16px;
  justify-content: flex-start;
  position: relative;
}

.post-tag {
  margin: 12px 16px 0 16px;
}

.post-tag li {
  margin-right: 6px;
  border: 1px solid #25304a;
  border-radius: 20px;
  width: max-content;
}

.post-tag li a {
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 8px;
}

.post-tag li a span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #d4d9e1;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  white-space: nowrap;
}
.button-likes .filled .heart-path {
  fill: #e0245e; /* 예시 색상 */
  stroke: #e0245e;
}

.button-likes .filled p {
  color: #e0245e;
}
