 /* 공통 폰트 설정 */
      @font-face {
        font-family: AppleSDGothicNeo;
        src: url(/fonts/AppleSDGothicNeoM.ttf) format("truetype");
        font-weight: bold;
      }

      /* 기본 스타일 */
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: AppleSDGothicNeo;
        color: inherit;
      }

      /* 전체 페이지 배경색 설정 */
      body {
        background-color: #101322;
        color: #ffffff;
        margin: 0;
        padding: 0;
      }

      .root {
        max-width: 700px;
        margin: 0 auto;
        background-color: #101322;
        color: #ffffff;
        border-radius: 8px;
      }

      /* 헤더 스타일 */
      .header {
        background-color: #101322;
        border-bottom: 1px solid #dbe0e4;
        max-width: 700px;
        height: 50px;
        position: sticky;
        top: 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        z-index: 1000;
      }

      @media screen and (max-width: 500px) {
        .header {
          display: none;
        }
      }

      .header .header-logo {
        width: 40px;
        height: 40px;
      }

      .header .header-logo img {
        width: 100%;
        height: 100%;
      }

      .header .header-util {
        display: flex;
        align-items: center;
      }

      .header .header-util .route-nav {
        margin-right: 16px;
      }

      .header .header-util .route-nav .route-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        text-align: center;
        align-items: center;
        color: #98a4b7;
        font-size: 12px;
      }

      .header .header-util .route-nav .route-list .route-item:hover {
        border-bottom: 2px solid #5383e8;
        cursor: pointer;
      }

      .header .header-util .log-btn {
        margin-right: 16px;
        background-color: #5383e8;
        color: #fff;
        border-radius: 6px;
        width: 40px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .log-btn p {
        font-size: 12px;
        margin: 0;
      }

      body {
        display: flex;
        justify-content: center;
      }

      /* 푸터 영역  */
      /* 푸터 스타일 */

      footer {
        background-color: #101322;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 9999;
        box-shadow: 0 -4px 16px rgba(16, 16, 16, 0.48);
      }

      footer nav {
        display: flex;
        max-width: 700px;
        justify-content: center;
        align-items: center;
        height: 56px;
        margin: 0 auto;
      }

      @media screen and (max-width: 500px) {
        footer nav {
          max-width: 500px;
        }
      }

      footer nav .route-item {
        display: flex;
        flex-direction: column;
        width: 140px;
        height: 56px;
        padding: 8px 0;
        justify-content: center;
        align-items: center;
        gap: 4px;
      }

      footer nav .route-item .route-img {
        width: 24px;
        max-height: 24px;
      }

      footer nav .route-item .route-name {
        color: #98a4b7;
        font-size: 12px;
      }

      .error {
        color: red;
        margin-left: 150px;
      }

      .success {
        color: green;
        margin-left: 150px;
      }

      /* 메인영역 */
      .post_register_main{
        width: 700px;
        /* border: 1px solid white; */
        margin-bottom: 100px;
      }

      .post_register_main_header{
        background-color: #172036;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      .post_register_main_header h3{
        font-size: 20px;
        color: #D4D9E1;
      }

      .post_register_main_detail{
        background-color: #172036;
      }

      .post_title{
        /* background-color: #172036; */
        padding-top: 20px;
      }

      .post_register_title{
        background-color: #172036;
        width: 700px;
        padding: 20px;
        box-sizing: border-box;
        font-size: 18px;
        color: #D4D9E1;
        resize: none;
        outline-style: none;
        border: none;
        height: 90px;
        padding-left: 50px;
        padding-right: 50px;
      }

      .post_register_title::placeholder{
        color: #D4D9E1;
        font-size: 18px;
      }

      .post_register_title::-webkit-scrollbar{
        display: none;
      }

      .cut_line{
      border: 1px solid #D9D9D9;
      /* margin-top: 30px; */
      margin-bottom: 20px;
      right: 5%;
      border-bottom: none;
    }

    .post_register_detail_box{
        /* border: 1px solid indigo; */
        margin-top: 80px;
    }

    .post_register_detail{
        width: 700px;
        background-color: #172036;
        padding: 20px;
        box-sizing: border-box;
        font-size: 16px;
        color: whitesmoke;
        resize: none;
        outline-style: none;
        border: none;
        height: 400px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .post_register_detail::placeholder{
        color: #D4D9E1;
        font-size: 16px;
    }

    .post_register_tag_box{
        margin-top: 30px;
        background-color: #172036;
        padding: 30px;
    }

    .post_register_tag_header{
        margin-bottom: 20px;
    }

    .post_register_tag{
        background-color: #ffffff65;
        color: #ffffff;
        width: 640px;
        border: none;
        font-size: 14px;
        height: 25px;
        outline-style: none;
        padding: 10px;
        font-weight: 600;
    }

    .post_register_tag::placeholder{
        color: #ffffff;
    }

    .post_register_tag_footer{
        font-size: 14px;
        text-align: end;
        margin-top: 10px;
    }


    .post_register_img_box{
        margin-top: 30px;
        background-color: #172036;
        width: 700px;
        height: 200px;
    }


    .post_register_btn_box{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .post_register_btn{
      background-color: #4263EB;
      border: none;
      margin-bottom: 20px;
      width: 150px;
      height: 45px;
      border-radius: 6px;
      font-size: 16px;
    }

    .post_register_btn:hover{
      background-color: #4264eb9a;
      cursor: pointer;
    }