<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/postAllListCss.css">

</head>
<body>

<div th:fragment="headerFragment" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header">
        <div class="header-logo">
            <img alt="시네링크 로고" th:src="@{/img/cine_link_logo.svg}" />
        </div>
        <div class="header-util">
            <div class="route-nav">
                <ul class="route-list">
                    <li class="route-item"><a href="#">랭킹</a></li>
                    <li class="route-item"><a href="#">통계</a></li>
                    <li class="route-item"><a href="#">커뮤니티</a></li>
                    <li class="route-item"><a href="#">작품</a></li>
                    <li class="route-item">
                        <img alt="검색 아이콘" th:src="@{/img/search.svg}" />
                    </li>
                    <li class="route-item">
                        <img alt="벨 아이콘" th:src="@{/img/bell.svg}" />
                    </li>
                </ul>
            </div>
            <!-- header.html의 .log-btn 부분 -->
            <div class="log-btn">
                <!-- 인증된 사용자에게만 '로그아웃' -->
                <p sec:authorize="isAuthenticated()">로그아웃</p>
                <!-- 익명 사용자에게만 '로그인' -->
                <p sec:authorize="isAnonymous()">로그인</p>
            </div>
        </div>
    </div>



    <section class="community_main">
        <div class="community_item">
            <div class="community_header">
                <div class="community_search">
                    <h2>커뮤니티</h2>
                    <img th:src="@{/img/search.svg}" alt="검색">
                </div>
                <div class="community_search_infoBox">
                    <p>검색어를 입력하세요</p>
                    <p>(태그를 활용하여 검색하시면 관련 정보를
                        수월하게 찾을 수 있습니다. ex. #에이콘 #아이유)
                    </p>
                </div>
            </div>

            <!--            <h1 class="community_list_h2" th:text="${postOneMem.memId} + ' 님의 게시글 목록'">회원의 게시글 목록 </h1>-->
            <h1 class="community_list_h2" th:text="${memId} + ' 님의 게시글 목록'">회원의 게시글 목록 </h1>

            <div class="community_post_list_All">

                <div class="community_list_one" th:each="post : ${postOneMem}">

                    <div class="community_list_one_header">
                        <div class="community_mem_info">
                            <div class="community_mem_profile">
                                <p th:text="${post.memId}"> memId</p>
                            </div>

                            <div class="community_mem_nickname">
                                <p th:text="${post.memId}">화가난_김태희_149314</p>
                            </div>
                        </div>

                        <div class="community_created_time">
                            <p th:text="${#dates.format(post.postCreatedAt, 'yyyy-MM-dd HH:mm')}"> PostCreatedAt</p>
                        </div>
                    </div>

                    <div class="community_post_body">
                        <div class="community_post_title">
                            <a th:href="@{/postDetail/{postId}(postId=${post.postId})}">
                                <p th:text="${post.postTitle}">게시글 제목</p>
                                <p class="post_content_p" th:text="${post.content}">[모이나2] 로튼 팝콘지수</p>
                            </a>
                        </div>
                        <div class="community_imgbox">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF5muH6piXfKA2yUyMkJwm0mJq6O4lU-1mFA&s" alt="게시글썸네일">
                        </div>
                    </div>
                    <div class="cut_line"></div>

                </div>

            </div>
        </div>

        <div class="community_aside">
            <div class="post_register">
                <a href="/postCreate">
                    <button class="post_register_btn">글 작성하기</button>
                </a>
            </div>

            <div class="tag_top">
                <div class="aside_header"># 태그</div>
                <div class="tag">
                    <div class="tag_list">
                        <ul>
                            <th:block th:each="tag : ${topTags}">
                                <li th:text="'#' + ${tag}"></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mem_ranking_top">
                <div class="aside_header">유저랭킹 TOP 7</div>
                <div class="ranking_list">

                    <ul>
                        <li th:each="topSevenMem : ${topSevenMem}">
                            <div class="tag_icon">
                                <a th:href="@{/postOneMember/{memId}(memId=${topSevenMem.memId})}" th:text="${topSevenMem.memId}">유저 게시글 보기</a>
                            </div>
                            <a th:href="@{/postOneMember/{memId}(memId=${topSevenMem.memId})}" th:text="${topSevenMem.memNn}">유저 게시글 보기</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <nav class="footer-util">
            <a class="route-item" href="#">
                <div class="route-img">
                    <img alt="홈 아이콘" th:src="@{/img/home.svg}" />
                </div>
                <div class="route-name">홈</div>
            </a>
            <a class="route-item" href="#">
                <div class="route-img">
                    <img alt="발견 아이콘" th:src="@{/img/search.svg}" />
                </div>
                <div class="route-name">발견</div>
            </a>
            <a class="route-item" href="#">
                <div class="route-img">
                    <img alt="콘텐츠 아이콘" th:src="@{/img/list.svg}" />
                </div>
                <div class="route-name">콘텐츠</div>
            </a>
            <a class="route-item" href="#">
                <div class="route-img">
                    <img alt="숏폼 아이콘" th:src="@{/img/shortform.svg}" />
                </div>
                <div class="route-name">숏폼</div>
            </a>
            <a class="route-item" href="#">
                <div class="route-img">
                    <img alt="커뮤니티 아이콘" th:src="@{/img/community.svg}" />
                </div>
                <div class="route-name">커뮤니티</div>
            </a>
            <a class="route-item" href="#">
                <div class="route-img">
                    <img alt="마이페이지 아이콘" th:src="@{/img/mypage.svg}" />
                </div>
                <div class="route-name">마이페이지</div>
            </a>
            <a class="route-item" href="#">
                <div class="route-img">
                    <img alt="알림 아이콘" th:src="@{/img/bell.svg}" />
                </div>
                <div class="route-name">알림</div>
            </a>
        </nav>
    </footer>
</div>







</body>
</html>