<!-- src/main/resources/templates/success.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>성공</title>
    <style>
        /* 기본 스타일 추가 */
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .success-message {
            color: green;
            font-size: 1.2em;
        }
        a {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
<h1>성공적으로 완료되었습니다.</h1>
<div class="success-message">
    <p th:text="${message}">성공 메시지</p>
</div>
<p><a th:href="@{/login}">로그인 페이지로 이동</a></p>
</body>
</html>
