<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.movielink.community.repository.CommunityCommentMapper">

    <resultMap id="commentResultMap" type="com.acorn.movielink.community.dto.CommentDTO">
        <result column="comment_id" property="commentId" jdbcType="INTEGER"/>
        <result column="post_id" property="postId" jdbcType="INTEGER"/>
        <result column="mem_id" property="memId"/>
        <result column="parent_id" property="parentId"/>
        <result column="content" property="content"/>
        <result column="comment_reg_at" property="commentRegAt"/>
        <result column="comment_updated_at" property="commentUpdatedAt"/>
        <result column="comment_deleted_at" property="commentDeletedAt"/>
        <result column="comment_like_cnt" property="commentLikeCnt"/>
    </resultMap>

    <!-- 댓글 최신등록순 조회 -->
    <select id="getCommentsByPostId" resultMap="commentResultMap" parameterType="int">
        SELECT * FROM comment
        WHERE post_id = #{postId} AND parent_id IS NULL
        ORDER BY comment_reg_at DESC
    </select>


    <!-- 대댓글 조회 -->
    <select id="getRepliesByParentId" resultMap="commentResultMap" parameterType="int">
        SELECT * FROM comment
        WHERE parent_id = #{parentId}
        ORDER BY comment_reg_at DESC
    </select>



    <select id="countById" resultType="int">
        SELECT COUNT(*)
        FROM comment
        WHERE comment_id = #{commentId}
    </select>

    <select id="findOwnerById" resultType="int">
        SELECT mem_id
        FROM comment
        WHERE comment_id = #{commentId}
    </select>

    <select id="findParentIdById" resultType="int">
        SELECT parent_id
        FROM comment
        WHERE comment_id = #{commentId}
    </select>





    <!-- 댓글 작성 -->
    <insert id="addComment" parameterType="map" useGeneratedKeys="true" keyProperty="commentId" keyColumn="comment_id">
        INSERT INTO comment (post_id, mem_id, content, parent_id, comment_reg_at)
        VALUES (#{postId}, #{memId}, #{content}, NULL, NOW())
    </insert>


    <!-- 대댓글 작성 -->
    <insert id="addReply" parameterType="com.acorn.movielink.community.dto.CommentDTO">
        INSERT INTO comment (post_id, mem_id, content, parent_id, comment_reg_at)
        VALUES (#{postId}, #{memId}, #{content}, #{parentId}, NOW())
    </insert>


    <select id="getCommentById" parameterType="int" resultMap="commentResultMap">
        SELECT *
        FROM comment
        WHERE comment_id = #{commentId}
    </select>



    <!-- 특정 게시글에 대한 댓글 수 조회 -->
    <select id="countCommentById" resultType="int" parameterType="int">
        SELECT COUNT(*)
        FROM comment
        WHERE post_id = #{postId} AND parent_id IS NULL AND comment_deleted_at IS NULL
    </select>

    <!-- 특정 댓글에 대한 대댓글 수 조회 -->
    <select id="getReplyCountByCommentId" resultType="int" parameterType="int">
        SELECT COUNT(*)
        FROM comment
        WHERE parent_id = #{parentId} AND comment_deleted_at IS NULL
    </select>

<!--    댓글에 해당하는 작성자 ID를 반환-->
    <select id="getAuthorByCommentId" resultType="int" parameterType="int">
        SELECT mem_id
        FROM comment
        WHERE comment_id = #{commentId}
    </select>



    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="com.acorn.movielink.community.dto.CommentDTO">
        UPDATE comment
        SET content = #{content}, comment_updated_at = NOW()
        WHERE comment_id = #{commentId} AND comment_deleted_at IS NULL
    </update>

    <!-- 대댓글 수정 -->
    <update id="updateReply" parameterType="com.acorn.movielink.community.dto.CommentDTO">
        UPDATE comment
        SET content = #{content}, comment_updated_at = NOW()
        WHERE comment_id = #{commentId} AND parent_id IS NOT NULL AND comment_deleted_at IS NULL
    </update>

    <!-- 댓글 삭제 ( 실제 데이터 삭제 X)-->
    <update id="deleteComment" parameterType="int">
        UPDATE comment
        SET comment_deleted_at = NOW()
        WHERE comment_id = #{commentId}
    </update>

    <!-- 대댓글 삭제 (실제 데이터 삭제 X, 삭제 날짜 기록) -->
    <update id="deleteReply" parameterType="int">
        UPDATE comment
        SET comment_deleted_at = NOW()
        WHERE comment_id = #{commentId}
    </update>


    <!-- 댓글 좋아요 증가 -->
    <update id="increaseLikeCount" parameterType="int">
        UPDATE comment
        SET comment_like_cnt = comment_like_cnt + 1
        WHERE comment_id = #{commentId}
    </update>

    <!-- 댓글 좋아요 취소 -->
    <update id="decreaseLikeCount" parameterType="int">
        UPDATE comment
        SET comment_like_cnt = CASE WHEN comment_like_cnt > 0 THEN comment_like_cnt - 1 ELSE 0 END
        WHERE comment_id = #{commentId}
    </update>



</mapper>
