<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.movielink.admin.dto.AdminDTO">
    <select id="selectAll" resultType="AdminDTO">
        select * from member
    </select>
</mapper>