<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="com.acorn.movielink.admin.MemberMapper">-->

<!--    &lt;!&ndash; 이메일로 사용자 검색 &ndash;&gt;-->
<!--    <select id="findByMemEmail" parameterType="string" resultType="com.acorn.movielink.admin.Member">-->
<!--        SELECT * FROM MEMBER WHERE mem_email = #{memEmail}-->
<!--    </select>-->

<!--    &lt;!&ndash; 사용자 저장 &ndash;&gt;-->
<!--    <insert id="insertMember" parameterType="com.acorn.movielink.admin.Member">-->
<!--        INSERT INTO MEMBER (mem_email, mem_pw, mem_type, mem_created_at)-->
<!--        VALUES (#{memEmail}, #{memPw}, #{memType}, NOW())-->
<!--    </insert>-->
<!--</mapper>-->