<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.movielink.movie_detail.repository.MovieReviewMapper">

    <!-- 리뷰 작성 여부 확인 -->
    <select id="isMovieReviewed" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM review
        WHERE mem_id = #{memId}
        AND movie_id = #{movieId}
        AND review_deleted_at IS NULL;
    </select>

    <!-- 리뷰 등록 -->
    <insert id="insertReview" parameterType="map">
        INSERT INTO review (movie_id, mem_id, review_content, review_rating, review_reg_at)
        VALUES (#{movieId}, #{memId}, #{reviewContent}, #{reviewRating}, NOW());
    </insert>

    <!-- 리뷰 수정 -->
    <update id="updateReview" parameterType="map">
        UPDATE review
        SET review_content = #{reviewContent},
        review_rating = #{reviewRating},
        review_updated_at = NOW()
        WHERE review_id = #{reviewId};
    </update>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReview" parameterType="map">
        DELETE FROM review
        WHERE review_id = #{reviewId};
    </delete>

    <!-- 모든 유저 리뷰 -->
    <select id="getReview" parameterType="map">
        SELECT
        r.review_id AS reviewId,
        r.review_content AS reviewContent,
        r.review_rating AS reviewRating,
        r.review_like_cnt AS reviewLikeCnt,
        r.review_reg_at AS reviewRegAt,
        r.review_updated_at AS reviewUpdatedAt,
        m.mem_nn AS memNn,
        m.mem_profile_file_path AS memProfileFilePath
        FROM
        review r
        JOIN
        member m
        ON
        r.mem_id = m.mem_id
        WHERE
        r.movie_id = #{movieId}
        ORDER BY
        r.review_reg_at DESC;
    </select>

    <!-- 특정 유저 리뷰 -->
    <select id="getUserReview" parameterType="map">
        SELECT
        r.review_id AS reviewId,
        r.review_content AS reviewContent,
        r.review_rating AS reviewRating,
        r.review_like_cnt AS reviewLikeCnt,
        r.review_reg_at AS reviewRegAt,
        r.review_updated_at AS reviewUpdatedAt,
        m.mem_nn AS memNn,
        m.mem_profile_file_path AS memProfileFilePath
        FROM
        review r
        JOIN
        member m
        ON
        r.mem_id = m.mem_id
        WHERE
        r.movie_id = #{movieId}
        AND r.mem_id = #{memId};
    </select>

</mapper>
