<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.movielink.MovieMapper">
    <!--  -->
    <resultMap id="MovieResultMap" type="com.acorn.movielink.data.dto.MovieDTO">
        <id property="movieId" column="movie_id"/>
        <result property="movieNm" column="movie_nm"/>
        <result property="movieNmEn" column="movie_nm_en"/>
        <result property="movieOpenDt" column="movie_open_dt"/>
        <result property="movieAgeRating" column="movie_age_rating"/>
        <result property="movieRunningTime" column="movie_running_time"/>
        <result property="movieNation" column="movie_country"/>
        <result property="genre" column="genre"/>
        <result property="moviePlot" column="movie_plot"/>
        <result property="movieTrailerUrl" column="movie_trailer_url"/>
        <result property="moviePoster" column="movie_poster"/>
        <result property="movieImdbScore" column="movie_imdb_score"/>
        <result property="movieTMDBScore" column="movie_rotten_score"/>
    </resultMap>

    <insert id="insertMovie" parameterType="com.acorn.movielink.data.dto.MovieDTO" useGeneratedKeys="true" keyProperty="movieId">
        INSERT INTO movie (
        movie_nm, movie_nm_en, movie_open_dt, movie_age_rating, movie_running_time,
        movie_country, movie_plot, movie_trailer_url, movie_poster,
        movie_imdb_score, movie_rotten_score
        ) VALUES (
        #{movieNm}, #{movieNmEn}, #{movieOpenDt}, #{movieAgeRating}, #{movieRunningTime},
        #{movieNation}, #{moviePlot}, #{movieTrailerUrl}, #{moviePosterUrl},
        #{movieImdbScore}, #{movieTMDBScore}
        )
    </insert>

    <select id="selectAllMovie" parameterType="com.acorn.movielink.data.dto.MovieDTO">
        select * from movie
    </select>

    <!-- MovieMapper.xml -->
    <select id="findBestMovies" parameterType="map" resultMap="movieResultMap">
        SELECT * FROM MOVIE
        ORDER BY (movie_rotten_score + movie_imdb_score * 10) DESC
        LIMIT 3
    </select>

</mapper>
