<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.movielink.data.MovieBoxOfficeMapper">
    <resultMap id="MovieDailyStatsResultMap" type="com.acorn.movielink.data.dto.MovieDailyStatsDTO">
        <result property="movie_nm" column="movie_nm"/>
        <result property="sales_share" column="sales_share" />
        <result property="audi_cnt" column="audi_cnt" />
        <result property="open_dt" column="open_dt" />
    </resultMap>

    <resultMap id="BoxOfficeMovieResultMap" type="com.acorn.movielink.data.dto.BoxOfficeMovieDTO">
        <result property="movie_id" column="movie_id" />
        <result property="movie_nm" column="movie_nm" />
        <result property="movie_poster" column="movie_poster" />
    </resultMap>

    <select id="findDailyMovieStats" parameterType="String" resultMap="MovieDailyStatsResultMap">
        SELECT movie_nm, sales_share, audi_cnt , open_dt
        FROM raw_data_test
        WHERE box_office_dt = #{boxOfficeDate}
        ORDER BY rnum ASC
    </select>


    <select id="findBoxofficeMovies" parameterType="String" resultMap="BoxOfficeMovieResultMap">
        SELECT movie_id,movie_nm,movie_poster
        FROM movie
        WHERE movie_nm = #{movie_nm} and movie_open_dt = #{movie_open_dt}
    </select>


</mapper>